# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

frontend/node_modules/*
frontend/.vscode/*
frontend/dist/*
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/backend/.vs/ProjectEvaluation
/backend/Ptcent.Cloud.Drive.Application/bin/Debug/net8.0
/backend/Ptcent.Cloud.Drive.Application/obj
/backend/Ptcent.Cloud.Drive.WebApi/bin/Debug/net8.0
/backend/Ptcent.Cloud.Drive.WebApi/obj
/backend/Ptcent.Cloud.Drive.WebApi.Domain.Dto/bin/Debug/net8.0
/backend/Ptcent.Cloud.Drive.WebApi.Domain.Dto/obj
/backend/Ptcent.Cloud.Drive.WebApi.Domain.Entities/bin/Debug/net8.0
/backend/Ptcent.Cloud.Drive.WebApi.Domain.Entities/obj
/backend/Ptcent.Cloud.Drive.WebApi.Domain.Infrastructure/bin/Debug/net8.0
/backend/Ptcent.Cloud.Drive.WebApi.Domain.Infrastructure/obj
/backend/Ptcent.Cloud.Drive.WebApi.Domain.IRepositories/bin/Debug/net8.0
/backend/Ptcent.Cloud.Drive.WebApi.Domain.IRepositories/obj
/backend/Ptcent.Cloud.Drive.WebApi.Domain.Repositories/bin/Debug/net8.0
/backend/Ptcent.Cloud.Drive.WebApi.Domain.Repositories/obj
/backend/.vs/Ptcent.Cloud.Drive.WebApi
/backend/CleanArchitecture-Ptcent.Cloud.Drive/LICENSE
/backend/CleanArchitecture-Ptcent.Cloud.Drive/doc/CleanArchitecture-DEV-Template.jpg
/backend/CleanArchitecture-Ptcent.Cloud.Drive/.gitignore
/backend/CleanArchitecture-Ptcent.Cloud.Drive/README.md
/backend/CleanArchitecture-Ptcent.Cloud.Drive/src/.vs
